* {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

li {
  list-style-type: none;
  display: inline;
  margin-right: 10px;
}

form.user-info {
  border: 3px solid black;
  border-radius: 5px;
  padding-top: 5%;
}

h1 {
  background-color: #784212;
  color: white;
  padding: 3%;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button.submit {
  background-color: #784212;
  color: white;
  font-weight: bolder;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Sticky Footer */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: darkslategray;
  color: white;
  text-align: center;
  padding: 15px;
}

/* Table CSS */

table {
  width: 500px;
}

th,
td {
  padding: 7px 10px 10px;
}

th.rider {
  border-bottom: 2px solid grey;
}

th {
  border-bottom: 2px solid black;
}

/* Rider CSS */
div.rider-roster {
  border: 2px solid black;
}

button.horses {
  border: 1px solid grey;
}
